@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 500;
  font-stretch: 100%;
  src:
    local("Inter"),
    url("../assets/fonts/inter/inter-variable.ttf") format("truetype");
  font-display: swap;
}

:root {
  /* Devine global variables/ custom properties to define colors and typography */
  --white: hsl(0, 0%, 100%);
  --blue-200: hsl(224, 100%, 95%);
  --blue-400: hsl(220, 100%, 64%);
  --blue-600: hsl(228, 100%, 60%);
  --blue-700: hsl(228, 99%, 58%);
  --black: hsl(0, 0%, 0%);
  --border-color: rgba(255, 255, 255, 0.5);
  /* Fall Back font - sans-serif */
  --font-family: "Inter", sans-serif;
  --font-size-paragraph: 17px;
  --font-size-other: 14px;
  /* overlay menu opacity  */
  --menu-background-color: rgba(0, 0, 0, 25%);
}
/* Remove all margins and pading from all elements and change the box sizing so that elements' dimensions are not dependent on padding or margin */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--blue-700);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-other);
  width: 100vw;
  min-height: 100vh;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  padding-inline: 2em;
}
#menu {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  anchor-name: --menu;
}
body:has(#menu:focus) #menu-items,
#menu-items:focus-within {
  display: block;
}
#menu-items {
  display: none;
  padding: 1em;
  list-style: none;
  position: absolute;
  position-anchor: --menu;
  position-area: bottom span-left;
  background-color: var(--menu-background-color);
}
#menu-items li {
  text-decoration: none;
  cursor: pointer;
}
#menu-items li:hover {
  text-decoration: underline;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: max-content;
  margin-inline: auto;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  aspect-ratio: 1;
  padding-inline: 2rem;
  border: 0.5px solid var(--border-color);
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img num"
    "desc desc";
  height: 350px;
  aspect-ratio: 1;
  border: 0.5px solid var(--border-color);
  align-items: center;
  justify-content: center;
}
.stat-icon {
  grid-area: img;
  height: 4em;
  padding: 0.5rem;
}
.stat-numbers {
  grid-area: num;
  font-size: 4em;
  padding: 0.5rem;
}
.stat-description {
  grid-area: desc;
  display: grid;
  align-self: flex-end;
  padding: 2em;
}

@media screen and (min-width: 376px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repate(4, 350px);
    grid-template-areas:
      "hero hero card1 card2"
      "hero hero card3 card4";
  }
  main .hero {
    grid-area: hero;
    height: 100%;
    width: 100%;
  }
  main .stats:nth-child(1) {
    grid-area: card1;
  }
  main .stats:nth-child(2) {
    grid-area: card2;
  }
  main .stats:nth-child(3) {
    grid-area: card3;
  }
  main .stats:nth-child(4) {
    grid-area: card4;
  }
}
